<!DOCTYPE html>

<!--
	This file is rendered by express.js, when the home url of the chat is opened in a browser.
	It doesn't do much, except showing the create button for the chat.
 -->

<html>

<head>

	<title>Chatube</title>
	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<link type="text/css" rel="stylesheet" href="css/stylesheet.css" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">


</head>

<body>
	<header class="homebanner">

			<h1 class="homebannertext">
				<img src="img/chatsmalllogo.png" alt="chatlogo" id="chatsmalllogo" />
				<a href="" id="logo">ChatTube</a>
			</h1>

	</header>

	<section>

		<div class="homesection">
			<div class="infoConnected">
				<div class="signin-form profile">
				<h3>Login</h3>
				
				<div class="login-form">
					<form action="/login" method="post">
						<input type="text" name="logemail" placeholder="E-mail" required="">
						<input type="password" name="logpassword" placeholder="Password" required="">
						<div class="tp">
							<input type="submit" value="LOGIN NOW">
						</div>
					</form>
					<p><a href="/register"> Register</a></p>
				</div>
			</div>
		</div>
	</section>

</body>
</html>
