<!DOCTYPE html>

<!--
	This file is rendered by express.js, when the home url of the chat is opened in a browser.
	It doesn't do much, except showing the create button for the chat.
 -->

<html>

<head>

	<title>Chatube</title>

	<link type="text/css" rel="stylesheet" href="css/stylesheet.css" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">


</head>

<body>
	<header class="homebanner">

			<h1 class="homebannertext">
				<img src="img/chatsmalllogo.png" alt="chatlogo" id="chatsmalllogo" />
				<a href="" id="logo">ChatTube</a>
			</h1>

	</header>

	<section>

		<div class="homesection">

			<h1><%=user.username %> Profile</h1>
			<form action="/profile" method="post">
				<input type="text" name="email" placeholder="E-mail" value="<%=user.email%>" required="">
				<input type="text" name="username" placeholder="Username" value="<%=user.username%>" required="">
				<input type="password" name="password" placeholder="Password" value="<%=user.password%>" required="">

				<input type="password" name="newpassword" placeholder="New Password" required="">
				<input type="password" name="newpasswordConf" placeholder="Confirm New Password" required="">
				<div class="tp">
					<input type="submit" value="Save">
				</div>
			</form>

			<h1> Friends</h1>
			<form action="/friend" method="post">
				<input type="text" name="friendEmail" placeholder="friend's E-mail" required="">
				<div class="tp">
					<input type="submit" id="addFriend" value="Add">
				</div>
			</form>

			<a href="/chat">
                <i class="fa fa-chevron-circle-left  fa-2x"> Back </i>
            </a>
		</div>
	</section>

</body>
</html>
