<!DOCTYPE html>

<!--
	This file is rendered by express.js, when the home url of the chat is opened in a browser.
	It doesn't do much, except showing the create button for the chat.
 -->

<html>

<head>

	<title>Chatube</title>
	<link type="text/css" rel="stylesheet" href="../css/stylesheet.css" />
	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<link type="text/css" rel="stylesheet" href="css/stylesheet.css" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">


</head>

<body>
	<header class="homebanner">

			<h1 class="homebannertext">
				<img src="img/chatsmalllogo.png" alt="chatlogo" id="chatsmalllogo" />
				<a href="" id="logo">ChatTube</a>
			</h1>

	</header>

	<section>

		<div class="homesection">
			<div class="infoConnected">
				<div class="signin-form profile">
					<table class="avatarTable">
						<tr class="hover08">
							<td><div ><figure><img class="avatarSelectorImg selected" src = "../img/avatar/256_1.png"></img></figure></div></td>
							<td><div ><figure><img class="avatarSelectorImg" src = "../img/avatar/256_2.png"></img></figure></div></td>
							<td><div ><figure><img class="avatarSelectorImg" src = "../img/avatar/256_3.png"></img></figure></div></td>
							<td><div ><figure><img class="avatarSelectorImg" src = "../img/avatar/256_4.png"></img></figure></div></td>
						</tr>
						<tr class="hover08">
							<td><div><figure><img class="avatarSelectorImg" src = "../img/avatar/256_5.png"></img></figure></div></td>
							<td><div><figure><img class="avatarSelectorImg" src = "../img/avatar/256_6.png"></img></figure></div></td>
							<td><div><figure><img class="avatarSelectorImg" src = "../img/avatar/256_7.png"></img></figure></div></td>
							<td><div><figure><img class="avatarSelectorImg" src = "../img/avatar/256_8.png"></img></figure></div></td>
						</tr>
						<tr class="hover08">
							<td><div><figure><img class="avatarSelectorImg" src = "../img/avatar/256_9.png"></img></figure></div></td>
							<td><div><figure><img class="avatarSelectorImg" src = "../img/avatar/256_10.png"></img></figure></div></td>
							<td><div><figure><img class="avatarSelectorImg" src = "../img/avatar/256_11.png"></img></figure></div></td>
							<td><div><figure><img class="avatarSelectorImg" src = "../img/avatar/256_12.png"></img></figure></div></td>
						</tr>
						<tr class="hover08">
							<td><div><figure><img class="avatarSelectorImg" src = "../img/avatar/256_13.png"></img></figure></div></td>
							<td><div><figure><img class="avatarSelectorImg" src = "../img/avatar/256_14.png"></img></figure></div></td>
							<td><div><figure><img class="avatarSelectorImg" src = "../img/avatar/256_15.png"></img></figure></div></td>
							<td><div><figure><img class="avatarSelectorImg" src = "../img/avatar/256_16.png"></img></figure></div></td>
						</tr>
					</table>

					<div class="login-form">
						<form action="/register" method="post">
							<input type="text" name="email" placeholder="E-mail" required="">
							<input type="text" name="username" placeholder="Username" required="">
							<input type="password" name="password" placeholder="Password" required="">
							<input type="password" name="passwordConf" placeholder="Confirm Password" required="">
  							<input type="hidden" name="avatar" id="avatarInput" value="../img/avatar/256_1.png">
							<input type="submit" value="REGISTER">
						</form>
					</div>
					<p><a href="/term"> By clicking register, I agree to your terms</a></p>
				</div>
			</div>
		</div>
	</section>
	<script>
		$('.avatarSelectorImg').click(function(){
	   		$('.avatarSelectorImg').removeClass('selected'); // removes the previous selected class
	   		$(this).addClass('selected'); // adds the class to the clicked image
	   		$("#avatarInput").val($(".avatarSelectorImg.selected").attr("src"));
		});




	</script>
</body>

</html>
